// ForgotPasswordPage.scss
.forgot-password-container {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.forgot-password-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.forgot-password-container p {
  text-align: left;
  font-size: 14px;
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
}

.forgot-password-container label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.forgot-password-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.forgot-password-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-password-container button:hover {
  background-color: #0056b3;
}

.error-message,
.success-message {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.toast-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toast-body {
  background-color: #28a745;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.input-box{
  display: flex;
  justify-content: space-between;
}
.input-box input{
  width: 350px;
}